* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  gap: 60px;
  height: 100%;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  padding: 130px 80px 0px 80px;
}

main .left {
  width: 46%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 20px;
}

main .right {
  width: 33%;
  position: relative;
}

main .left h1 {
  font-size: 7vw;
  line-height: 8vw;
  font-weight: 500;
}

main .left .left-bottom {
  display: flex;
  flex-direction: column;
}

main .left .left-bottom .colors {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: fit-content;
  padding: 6px 8px;
  border-radius: 50px;
}

main .left .left-bottom .colors h2 {
  font-size: 0.8vw;
  font-weight: 500;
  margin-right: 7px;
}

main .left .left-bottom .colors .color1 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: tomato;
}

main .left .left-bottom .colors .color2 {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: chartreuse;
}

main .left .left-bottom h3 {
  margin-top: 55px;
  font-size: 1.4vw;
  font-weight: 600;
}

main .left .left-bottom p {
  margin-top: 8px;
  width: 65%;
  font-size: 0.9vw;
  line-height: 1.3vw;
  font-weight: 500;
}

main .right .right-top {
  height: 6%;
  display: flex;
  justify-content: space-between;
}

main .right .right-top h3 {
  font-size: 1.5vw;
  font-weight: 600;
}

main .right .right-top .ratings {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .right .right-top .ratings h5 {
  font-size: 1.2vw;
  font-weight: 500;
  margin-right: 10px;
}

main .right .right-top .ratings i {
  font-size: 1.2vw;
  color: #ffd700;
}

main .right .right-bottom {
  height: 94%;
  overflow: hidden;
}

main .right .right-bottom img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .right .kalagola {
    border: 2px solid white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #B0BBC6;
  background-color: #436C61;
  position: absolute;
  top: 23%;
  right: -13%;
}

main .right .kalagola h3 {
  font-size: 1vw;
  font-weight: 550;
}
